@font-face {
    font-family: TradeGothicBold;
    src: url("./assets/Trade Gothic LT Bold.ttf");
}
:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1E3765;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}

#title {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 50px;
}

#title h2 {
    font-family: 'TradeGothicBold', serif;
    font-size: 42px;
}
