@font-face {
    font-family: TradeGothicBold;
    src: url("./assets/Trade Gothic LT Bold.ttf");
}
:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #c5efff;
    --brandRed: #DC4633;
    --brandYellow: #fff3bd;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

h1 {
    font-family: TradeGothicBold, serif;
    font-size: 42px;
}

h2 {
    font-family: TradeGothicBold, serif;
    font-size: 32px;
}

h3 {
    font-family: TradeGothicBold, serif;
    font-size: 25px;
}

h4 {
    font-family: TradeGothicBold, serif;
    font-size: 19px;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-size: 19px;
}

code {word-break: break-all;}

ul {
    font-family: 'Source Serif Pro', serif;
    font-size: 19px;
}
li {
    font-family: 'Source Serif Pro', serif;
    font-size: 19px;
}

a {
    color: var(--brandMedBlue);
    text-decoration: underline;
    opacity: 1;
    /* font-weight: bold; */
}
a:hover {
    color: var(--brandRed);
    opacity: 0.9;
    /* font-weight: bold; */
}

img {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

code {
    font-size: 14px;
    background-color: var(--brandLightBlue);
    padding: 3px;
}

i {
    background-color: var(--brandYellow);
    padding: 2px;
}


#title {
    margin: 0 auto;
    min-height: 1px;
    max-width: 700px;
    margin-top: 100px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 30px;
    text-align: center;
}

#text {
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    line-height: 30px;
}
